@model ProfileModel


<div class="row">
    <div class="col">
        <h1 class="display-4 border-bottom">Profile</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">

        <form method="post">
            <p class="small text-center">Bu kısımdan adınızı ve soyadınızı güncelleyebilirsiniz.</p>

            <div class="form-floating mb-3">
                <input type="text" asp-for="Name" placeholder="name" class="form-control" />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger small"></span>
            </div>

            <div class="form-floating mb-3">
                <input type="text" asp-for="Surname" placeholder="surname" class="form-control" />
                <label asp-for="Surname"></label>
                <span asp-validation-for="Surname" class="text-danger small"></span>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save me-2"></i>Save
                </button>
                <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
            </div>

            @if (ViewData["ok"] != null)
            {
                <div id="lblSuccess" class="alert alert-success mt-3">@ViewData["ok"]</div>

                <script>
                    setTimeout(removeSuccess, 3000);

                    function removeSuccess() {
                        //$("#lblSuccess").remove();
                        $("#lblSuccess").fadeOut();
                    }
                </script>
            }
        </form>

    </div>
</div>