
<div class="row mb-3">
    <div class="col">
        <h1 class="display-4 border-bottom">Change Profile Picture</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <img class="img-thumbnail rounded-circle" src="https://picsum.photos/id/64/200/200" width="200" />
    </div>
    <div class="col-sm-4"></div>
</div>